<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concurso</title>
     <!-- BOX ICONS -->
     <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
               <a href="#" class="navbar-brand">
                    <img src="./imgs/logo.png" style="height: 50px ;" srcset="">
                    JTOYS
               </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Juguetes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="registro.html">Ordenes</a>
                        </li>
                    </ul>
                    <ul class="nav ms-auto">
                        
                        <li class="nav-item dropstart">
                            <a class="nav-link text-dark ps-3 pe-1" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">
                                <img src="./imgs/user.png" style="height: 50px" alt="user" class="img-user">
                            </a>
                            <div class="dropdown-menu mt-2 pt-0" aria-labelledby="navbarDropdown">
                                <div class="d-flex p-3 border-bottom mb-2">
                                    <img src="./imgs/user.png" style="height: 50px" alt="user" class="img-user me-2">
                                    <div class="d-block">
                                        <p class="fw-bold m-0 lh-1" id="currentUser"></p>
                                    
                                    </div>
                                </div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-user fa-lg me-3" aria-hidden="true"></i>Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-cog fa-lg me-3" aria-hidden="true"></i>Ordenes
                                </a>
                                <hr class="dropdown-divider">
                                <div class="dropdown-item" href="#">
                                    <button class="btn btn-danger" id="btnLogout" @click="logout" >Cerrar sesion</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
             
                </div>
            </div>
        </nav>
    
        <section class="juguetes px-3 mt-5">
            <h1 class="text-center mt-4 mb-3 fs-2">Juguetes Disponibles</h1>
            <div class="row">
                <div class="col-4 mt-4 mb-4">
                    <h5>Buscar: </h5>
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="buscador">
                        <span class="input-group-text">
                            <i class='bx bx-search-alt-2'></i>
                        </span>
                    </div>
                </div>
                <hr>
                <!-- Grid de productos  -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-3" v-for="(juguete,index) in filtroJuguetes">
                            <div class="card  mb-4 mt-2">
                                <img v-bind:src="juguete.imagen" class="card-img-top" >
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{juguete.nombre}}</h5>
                                    <p class="card-text fw-light fs-5">$ {{juguete.precio}}</p>
                                    <a href="#" class="btn btn-dark" @click="detalles(index)">Ver mas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
        </section>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                juguetes: [],
                buscador: '',
            },
            mounted() {
                this.getJuguetes();
            },
            computed: {
                filtroJuguetes() {
                  if(this.buscador == ''){
                    return this.juguetes;
                }   
                return this.juguetes.filter((juguete) => {
                    return juguete.nombre.toLowerCase().includes(this.buscador.toLowerCase())
                });
               
                }
            },
            methods: {
                getJuguetes() {
                    fetch('http://localhost:3000/juguetes',{
                        method: 'GET',
                        headers: {
                            authorization: localStorage.getItem('token')
                        }
                    })
                        .then(res => {
                            if (res.status == 401) {
                               window.location.href = 'login.html';
                            } else {
                                return res.json();
                            }
                        
                        })
                        .then(data => {
                            console.log(data);
                            this.juguetes = data;
                        })
                },
                detalles(index) {
                    //Get juguete at index and redirect to details page
                    let juguete_id = this.juguetes[index].id;
                    console.log(juguete_id);
                    localStorage.setItem('juguete_id', juguete_id);
                    window.location.href = 'detalles.html';
                },
                logout(){
                    localStorage.removeItem('id_usuario');
                    localStorage.removeItem('token');
                    localStorage.removeItem('rol');
                    localStorage.removeItem('username');
                    window.location.href = 'login.html';
                }
            },
        })
        
    </script>

    
      <!-- Javascript de Bootsrap -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>